<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>member/main.html</title>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
	<h1 id="title">회원등록</h1>
	<form method="post" th:action="@{/member}">
		아이디<input type="text" name="id" id="id"><br>
		비밀번호<input type="password" name="pwd" id="pwd"><br>
		이메일<input type="text" name="email" id="email"><br>
		나이<input type="text" name="age" id="age"><br>
		<input type="submit" value="가입" id="submit">
	</form>
	<br><br>
	<div>
		<h1>회원목록</h1>
		<div id="mlist">
			<table class="table" id="memlist">
			</table>
		</div>
	</div>

	<script th:inline="javascript">
		const a = {"id":"aaa","pwd":"1234"}; //JSON 객체
		const d = JSON.stringify(a); //JSON.stringfy(a) ==> JSON 객체를 문자열로 변환
    console.log(a);
    console.log(d);

    const b = '{"id":"aaa","pwd":"1234"}'; //""로 감싼 문자열
    const c = JSON.parse(b); //문자열을 JSON 객체로 변환
    console.log(c.id);

		// $("form").submit(function (e){
		// 		e.preventDefault();
		// 		const data = {
	  //       "id":$("#id").val(),
	  //       "pwd":$("#pwd").val(),
    //       "age":$("#age").val(),
    //       "email":$("#email").val()
		// 		}
		// 		const param = JSON.stringify(data);
    //     $.ajax({
    //         url:'/member',
    //         method:'POST',
    //         contentType:'application/json', //json을 파라미터로 전송할 때 설정
		//         data:param,
    //         success:function (res) {
    //                 console.log(res);
    //                 list();
    //         }
    //     })
		// })

		function list() {
        $.ajax({
		        url:'/members',
		        method: 'get',
		        success:function (resp) {
				        $("#memlist").empty();
								const th=`
									<tr>
										<th>아이디</th>
										<th>이메일</th>
										<th>나이</th>
										<th>가입일</th>
										<th>수정</th>
										<th>삭제</th>
									</tr>
								`;
				        $("#memlist").append(th);
				        $(resp).each(function (i,m){
						        const tr=`
						          <tr>
						            <td>${m.id}</td>
						            <td>${m.email}</td>
						            <td>${m.age}</td>
						            <td>${m.regdate}</td>
						            <td><a href="javascript:updateMem('${m.id}')">수정</a></td>
						            <td><a href="javascript:delMem('${m.id}')">삭제</a></td>
						          </tr>
						        `
						        $("#memlist").append(tr);
				        })
		        }
        })
		}
		list();

		function delMem(id) {
				// alert(id);
        $.ajax({
		        url:'/members/' + id, // http://localhost:8080/members/hello
		        method:'DELETE',
		        success:function (resp){
                    alert(resp);
                    list();
		        }
        })
		}

		function updateMem(id) {
			// console.log(id);
			$.ajax({
					url:'/members/' + id,
					method: 'get',
					success:function (resp){
							console.log(resp);
							$("#title").text("회원정보수정");
              $("#id").val(resp.id).prop("readonly",true);
              $("#pwd").val(resp.pwd);
              $("#email").val(resp.email);
              $("#age").val(resp.age);
							$("#submit").val("수정");
					}
			})
		}

    $("form").submit(function (e){
        e.preventDefault();
        const data={
					"id":$("#id").val(),
		      "pwd":$("#pwd").val(),
          "email":$("#email").val(),
          "age":$("#age").val()
        }
        const param=JSON.stringify(data);
        if($("#submit").val()=='가입') {
            $.ajax({
		            url: '/member',
		            method: 'POST',
		            contentType: 'application/json', //json을 파라미터로 전송할때 설정
		            data: param,
		            success: function (res) {
                        console.log(res);
                        list();
		            }
            })
        }else {
            $.ajax({
		            url:'/members',
		            type:'PUT',
		            contentType:'application/json',
		            data:param,
		            success:function (data){
                        alert(data);
                        list();
                        $("#id").val("").prop("readonly",false);
                        $("#pwd").val("");
                        $("#email").val("");
                        $("#age").val("");
                        $("#submit").val("가입");
		            }
            });
        }
    });
	</script>
</body>
</html>