<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>member/update.html</title>
</head>
<body>
<h1>회원정보수정</h1>
<form method="post" th:action="@{/member/update}">
    회원번호<input th:value="${dto.num}" name="num" type="text" readonly><br>
    이름<input th:value="${dto.name}" name="name" type="text"><br>
    전화번호<input th:value="${dto.phone}" name="phone" type="text"><br>
    주소<input th:value="${dto.addr}" name="addr" type="text"><br>
    가입일<span>[[${dto.regdate}]]</span><br> <!-- 가입일을 동일하게 value로 줄 경우 post로 값이 넘어가 db 에러가 날 수 있기 때문에 보여지도록만 해준다. -->
    <input type="submit" value="수정">
</form>

<!--<form method="post" th:action="@{/member/update}" th:object="${dto}"> &lt;!&ndash; th:object를 이용해서 dto의 값을 가져오고 th:value가 아닌 th:field를 통해 더 정확하게 값을 가져올 수 있다. &ndash;&gt;-->
<!--    회원번호<input th:field="*{num}" name="num" type="text" readonly><br> &lt;!&ndash; 현재 get과 post가 update로 이동이 되어 값이 없어서 *{num} 에러 문법만 확인 &ndash;&gt;-->
<!--    이름<input th:field="*{name}" name="name" type="text"><br> &lt;!&ndash; field를 사용하면 자동으로 id값과 name값이 들어가므로 따로 name값을 작성하지 않아도 된다. &ndash;&gt;-->
<!--    전화번호<input th:field="*{phone}" name="phone" type="text"><br>-->
<!--    주소<input th:field="*{addr}" name="addr" type="text"><br>-->
<!--    가입일<input type="text" th:field="${regdate}" name="regdate" disabled><br> &lt;!&ndash; input을 사용할 경우 값이 넘어가지 않도록 disabled를 적용시킨다 &ndash;&gt;-->
<!--    <input type="submit" value="수정">-->
<!--</form>-->
</body>
</html>