<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="layout(title,content)">
<head>
	<meta charset="UTF-8">
	<title th:text="${title}">index.html</title>
	<style>
      span a {
          text-decoration: none;
          color: black;
      }
      .active {
          color: red;
      }
	</style>
</head>
<body>
	<header>
		<h1><a th:href="@{/}">Logo</a></h1>
		<div>
			<ul>
				<li sec:authorize="isAnonymous()">
					<a th:href="@{/login}">로그인</a>
				</li>
				<li sec:authorize="isAuthenticated()">
					<span th:text="${session.id} + '님 반갑습니다.'"></span><br>
				</li>
				<li sec:authorize="isAuthenticated()">
					<a th:href="@{/member/update}">회원정보</a>
				</li>
				<li sec:authorize="isAuthenticated()">
					<a th:href="@{/logout}">로그아웃</a>
				</li>
				<li sec:authorize="isAnonymous()">
					<a th:href="@{/join}">회원가입</a>
				</li>
				<li>
					<a th:href="@{/boardList}">게시판</a>
				</li>
				<li>
					<a th:href="@{/admin/memberList}">회원리스트</a>
				</li>
			</ul>
		</div>
	</header>
	<main>
		<div th:replace="${content}"></div>
	</main>
	<footer>
		<h3>footer영역</h3>
		<p>footer영역입니다.</p>
	</footer>
</body>
</th:block>
</html>