<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MembersMapper">
    <select id="isMember" parameterType="hashmap" resultType="MembersDTO">
        select id,pwd,role from members where id = #{id} and pwd = #{pwd}
    </select>
</mapper>